<div display="flex" style="width: 100%; height: 100%">

    <div style="width: 50%" min-width="500px">
        <h2>Mornings</h2>
        <div class="meetings-iframe-container" data-src="https://connect.simple-salt.com/meetings/simplesalt/coffee-w-dylan?embed=true"></div>
    </div>
    <div style="width: 50%" min-width="500px">
        <h2>Evenings</h2>
        <div class="meetings-iframe-container" data-src="https://connect.simple-salt.com/meetings/simplesalt/drinks-w-dylan?embed=true"></div>
    </div>
</div>
<script.defer type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>