<div class="meetings-iframe-container" src="{{.Get 0}}" allow="geolocation *; encrypted-media *"></div>
<script.defer type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

    <!-- Start of Meetings Embed Script -->
    <div class="meetings-iframe-container" data-src="https://connect.simple-salt.com/meetings/simplesalt/drinks-w-dylan?embed=true"></div>
    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
  <!-- End of Meetings Embed Script -->